#layout-wrapper {
  height: auto;
  margin: 0;
  padding: 64px 0px 4px 80px;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  background-color: #f0f0f0;
  .content-wrapper {
      background: #fff;
      border-radius: 10px;
      margin: 20px;
      min-height: 500px;
      box-shadow: 4px 4px 4px rgba(136, 136, 136, 0.2);
  }
}
